*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: #000;
}
.box{
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    color: #fff;
    position: relative;
    font-size: 14vw;
    font-weight: 400;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    text-align: center;
    /* z-index: 2; */
}
p{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.intro-copy{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}
section{
    margin: 150vh 0;
}
.section-preview{
    position: fixed;
    width: 500px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img{
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(0% 100%,100% 100%, 100%  100%, 0% 100% );
    overflow: hidden;
}
.spacer-div{
    width: 100%;
    height: 200px;
}